@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300&family=Fira+Code:wght@300;400;500;600;700&display=swap');

.header {
  display: flex;
  background-color:black;
	color: white; 
  font-family: 'Epilogue';
  font-style: normal;
  font-size: 40px;
  font-weight: 300;
  line-height: 150%;
  justify-content: center;
  
}
